body{

    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d0b2e8, #6b42b7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: hidden;
}


h1{
    color: #fff;
    margin: 20px;
    text-shadow: #000 1px 2px 3px;
}


.card{

    border-radius: 5px;
    box-shadow: #000 3px 5px 2px;
    margin-bottom: 30px;
}

.alg-container div {

background-color: #fff;
width: 240px;
margin-top: 90px;
height: 100px;
margin: 10px 55px;
display: inline-block;
border-radius: 5px;
padding: 10px;
box-shadow: #000 3px 5px 2px;
}


.alg-container div h5, p{

    text-align: center;
}


.alg-container p{
text-align: center;
    margin: 10px;
    display: inline;
}


body .file-input {

 
 margin: 30px;
 position: relative;    
 align-items: center;
}


.file-input{
    margin-top: 50px;
    color: #fff;
}


.file-input input, h3{
    
    margin-top: 20px;
    

}

.file-input .botones {
    display: inline;
}